.app {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5.5em 0 2.5em;

  color: black;
  font-family: "Lily Script One", cursive, Roboto, sans-serif;
}

.app-header > h1:hover {
  text-decoration: underline;
}

.app-header a {
  color: black;
}

.app-subheader {
  color: hsla(0, 0%, 0%, 0.75);
  margin-top: -0.7em;
}

.app-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1em;

  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.made-with {
  font-size: 0.75rem;
  text-decoration: underline;
  margin-top: 1.75em;
}

.disclaimer {
  font-size: 0.75rem;
}

.credit {
  font-size: 0.75rem;
}

.credit ul {
  list-style: none;
}

.source-code {
  font-size: 0.75rem;
  margin-left: 0.5em;
}

.app-content {
  margin: 2em 0;
  width: 100%;
}

.ant-select-auto-complete.ant-select .ant-select-selection__rendered,
.ant-select-auto-complete.ant-select .ant-select-search--inline,
.ant-select-auto-complete.ant-select .ant-select-selection__placeholder {
  height: 2.5em;
  text-align: center;
}

.ant-input {
  font-size: 2rem;
  text-align: center;
}

/* https://ant.design/components/steps/  */
.steps-content {
  margin-top: 16px;
  min-height: 200px;
  text-align: center;
  /* padding-top: 4em; */
}

.select-versions {
  padding-top: 2em;
}

.steps-content a {
  padding-left: 0.3rem;
}

.steps-action {
  margin-top: 24px;
}

.ant-list-split {
  margin: 2.5em auto;
  overflow: auto;
}

.ant-list-item {
  padding: 12px 2em;
}

.ant-list-item:hover {
  background-color: papayawhip;
  cursor: pointer;
}

.wizard-step:hover {
  cursor: pointer;
}

.result-list {
  margin-bottom: 2.5em;
  text-align: left;
}

.result-header-list {
  text-align: left;
}

.search-autocomplete {
  font-size: 2rem;
  padding-top: 2em;
}

.ant-row {
  width: 100%;
}

@media only screen and (min-width: 1351px) {
  .ant-row {
    width: 50%;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1350px) {
  .ant-row {
    width: 65%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 999px) {
  .ant-row {
    width: 75%;
  }

  .ant-steps-item-title {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 600px) {
  .app-header {
    margin: 3.5em 0 0.5em;
  }

  .suggestions {
    font-size: 0.7rem;
  }

  .ant-steps-item-title {
    font-size: 0.75rem;
  }

  .ant-row {
    width: 90%;
  }

  .steps-content {
    border: none;
    background-color: transparent;
    padding-top: 0;
  }
  .ant-select-auto-complete.ant-select .ant-select-selection__rendered,
  .ant-select-auto-complete.ant-select .ant-select-search--inline,
  .ant-select-auto-complete.ant-select .ant-select-selection__placeholder {
    text-align: center;
    font-size: 1.3rem;
  }

  .ant-list-item {
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  .ant-input {
    font-size: 1rem;
    text-align: center;
  }

  .ant-list-split {
    margin: 0;
  }

  .search-autocomplete {
    width: 90%;
  }

  .select-versions {
    padding-top: 0;
  }

  .select-versions ant-list {
    margin-top: 1.5em;
  }
  .result-list {
    margin: 0.6rem;
  }
}

/* Changed according Accessibility recommendations by aXe */
.ant-steps-item-process .ant-steps-item-icon {
  background: peachpuff;
}
.ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon {
  color: #000;
}
.ant-steps-item-process .ant-steps-item-icon {
  border: none;
}
.ant-list-item-meta-description {
  color: black;
}
.ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon {
  color: rgba(0, 0, 0, 0.75);
}
.ant-steps-item-wait > .ant-steps-item-content > .ant-steps-item-title {
  color: rgba(0, 0, 0, 0.75);
}
a {
  color: rgb(70, 90, 255);
}
.ant-select-selection__placeholder {
  color: #666;
}
