.App {
  font-family: sans-serif;
  text-align: center;
}

.app-content {
  margin: 2em 0;
  /* padding: 0 5em; */
  width: 100%;
}

.ant-select-auto-complete.ant-select .ant-select-selection__rendered,
.ant-select-auto-complete.ant-select .ant-select-search--inline,
.ant-select-auto-complete.ant-select .ant-select-selection__placeholder {
  height: 2.5em;
  text-align: center;
}

.ant-input {
  font-size: 2em;
  padding-bottom: 1rem;
  text-align: center;
}

/* https://ant.design/components/steps/  */
.steps-content {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 200px;
  text-align: center;
  padding-top: 4em;
}

.steps-content a {
  padding-left: 0.3rem;
}

.steps-action {
  margin-top: 24px;
}

.ant-list-split {
  margin: 2.5em auto;
  /* width: 75%; */
  height: 50vh;
  overflow: auto;
}

.ant-list-item {
  padding: 12px 2em;
}

.ant-list-item:hover {
  background-color: papayawhip;
  cursor: pointer;
}

.result-list {
  margin-bottom: 2.5em;
}

.search-autocomplete {
  font-size: 2em;
}
.select-versions {
}
.unpkg-links {
}

@media only screen and (max-width: 600px) {
  .steps-content {
    border: none;
    background-color: transparent;
    padding-top: 0;
    width: 100vw;
  }
  .ant-select-auto-complete.ant-select .ant-select-selection__rendered,
  .ant-select-auto-complete.ant-select .ant-select-search--inline,
  .ant-select-auto-complete.ant-select .ant-select-selection__placeholder {
    height: 1.5em;
    text-align: center;
  }

  .ant-list-item {
    padding: 0.2rem;
  }

  .ant-input {
    font-size: 1.5em;
    padding-bottom: 1rem;
    text-align: center;
  }

  .ant-list-split {
    margin: 0;
  }

  .search-autocomplete {
    padding-top: 2rem;
    width: 90%;
  }

  .select-versions {
    width: 75%;
  }
  .select-versions ant-list {
    margin-top: 1.5em;
  }
}
